

<div class="container-fluid text-center">
  
  <div class="row content">

<!-- MENU LATERAL -->

<%= render 'layouts/menulateral' %>

<!-- FIN MENU LATERAL -->

    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1 text-left">
        <%= image_tag "Venta/gsxr600.jpg", class:"img-responsive" %>
        </div>
        <div class="col-sm-5">
          </br></br></br></br></br></br>
          <div class="page-header">
            <%= image_tag "Venta/gsxr600logo.jpg", class:"img-responsive" %>
            <h4>Modelo 2016</h4>
          </div>
          <h1>$ 39.490.000</h1>
        </div>
      </div>
      </br></br>
      <div class="row">
        <div class="col-sm-12">
          <%= link_to 'Volver', power_path, class:"btn btn-primary", role:"button" %>
        </div>
      </div>
    </div>

    

  </div>
</div>


</body>
</html>
