.row.content {
  height: 620px;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
}



footer {
  background-color: #555;
  color: white;
  padding: 5px;
}

a.milink {
  text-decoration: none;
  background-color: rgb(236,236,236);
  font-family: verdana;
  width: 100%;
  color: black;
  font-weight: bold;
  border-radius: 0;
  overflow: hidden;
}

a.milink:hover{
  background-color: #111;
  color:white;
}

/* Estilo para mantener el color del boton al presionar como boton*/
a.milink:active:hover, .milink.active:hover, 
.open > .dropdown-toggle.milink:hover,
.milink:active:focus,
.milink:active:focus,
.open > .dropdown-toggle.milink:focus,
.milink:active:focus,
.milink:active:focus,
.open > .dropdown-toggle.milink.focus {
  color: #fff;
  background-color: #111;
}

/* CARUSEL DE FOTOS */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      max-height: 450px;
  }



